@font-face {
    font-family: 'MontHeavy';
    src: url(../fonts/mont-heavy.ttf);
    font-weight: normal;
    font-style: normal;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: #151d26;
    color: white;
    font-family: 'MontHeavy';
    font-weight: lighter;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: solid 1px grey;
    width: 20%;
    padding: 2%;
}
.contentMiddle {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.contentRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: solid 1px grey;
    width: 25%;
    padding: 2%;
}
